RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

ErrorDocument 404 /error_pages/error.php?t=404
ErrorDocument 403 /error_pages/error.php?t=403

Redirect /subscribers/ /error_pages/error.php?t=403
Redirect /scripts/ /error_pages/error.php?t=403

RedirectMatch 403 \.token$
RedirectMatch 403 \.sh$

Options -Indexes
